<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="adminDao">
  	 
	
	<insert id="insertPost" parameterType="admin">
  		INSERT INTO adminPost 
  		VALUES ( seq_postId.nextval, #{postTitle}, #{postPass}, #{postContent}, 
  		sysdate, 0 )

  	</insert>
	
	<update id="newBoardSave" parameterType="admin">
	
	update adminPost set postTitle = #{postTitle}, postContent = #{postContent} where postId = #{postId} 
	
	</update>
	
	
	<select id="getBoardList" resultType="admin">
  		SELECT POSTID
  			 , POSTTITLE
  			 , POSTCONTENT
  			 , TO_CHAR(postdate, 'YYYY-MM-DD') as POSTDATE
  			 , POSTCNT
  			 
  		 FROM adminPost order by postId desc
  	</select>
  	
  	<select id="getViewList" parameterType="admin" resultType="admin">
  	SELECT POSTID
  			 , POSTTITLE
  			 , POSTPASS
  			 , POSTCONTENT
  			 , TO_CHAR(postdate, 'YYYY-MM-DD') as POSTDATE
  			 , POSTCNT
  			 
  		 FROM adminPost where postId= #{postId} order by postId desc
  	</select>
  	
  	<update id="updateCnt" parameterType="admin">
	
	update adminPost set postCnt = postCnt + 1 where postId = #{postId} 
	
	</update>
	  	
    	
  	<insert id="insertComment" parameterType="admin">
  		INSERT INTO usercomment 
  		VALUES ( seq_commentId.nextval, #{postId}, #{writer}, 
  		#{content}, sysdate, #{secretCheck} )

  	</insert>
  	
  	<select id="getCommentList" resultType="admin">
  		SELECT commentId
  			 , postId
  			 , writer
  			 , content
  			 , TO_CHAR(regDate, 'YYYY-MM-DD') as regDate
  			 , secretCheck
  			   			 
  		 FROM usercomment order by commentId desc
  	</select>
  	
  	<delete id="commentDelete" parameterType="admin">
  	delete from usercomment where commentId = #{commentId}
  	</delete>
  	
  	<update id="commentEdit" parameterType="admin">
	
	update usercomment set CONTENT = #{content} where commentId = #{commentId} 
	
	</update>
    
    <select id="getTotalPage" resultType="admin">
  		SELECT count(POSTID) as totalRecCount FROM adminpost
  	</select>	
  	
  	<select id="getListPage" resultType="admin" parameterType="admin">
  		<![CDATA[
  		SELECT *
  		FROM (
  			select rownum rn,
  			A.*
  			FROM (
  			select POSTID
            , POSTTITLE
            , POSTCONTENT
            , TO_CHAR(postdate, 'YYYY-MM-DD') as POSTDATE
            , POSTCNT from adminpost order by postId desc) A 
            ) 
  		where rn >= #{firstRow} AND rn <= #{endRow}
   	]]>
   	</select>
    	
  	<select id="badCommentList" resultType="admin" parameterType="admin">
  	
  		<![CDATA[
  		SELECT *
  		FROM (
  			select rownum rn,
  			A.*
  			FROM (
  			SELECT BADID
  			 , BADTITLE
  			 , TO_CHAR(BADDATE, 'YYYY-MM-DD') as BADDATE
  			 , BADWRITER
  			 , REASON
  			 , REPORTER
  			 , BADCONTENT
  			 , BADBOARD
  			 , REASONCONTENT
  			 , BADFILE
  			 , BADF_SIZE
  			 , BADF_EN from BADCOMMENT order by BADID desc) A
           ) 
  		where rn >= #{firstRow} AND rn <= #{endRow}
   	]]>
  	  	
  	</select>
  	
  	<delete id="adminBoardDelete" parameterType="admin">
  	delete from adminPost where postId = #{postId}
  	</delete>
  	
  	<insert id="saveReport" parameterType="admin">
  		INSERT INTO BADCOMMENT 
  		(BADID, BADTITLE, BADDATE, BADWRITER, REASON, REPORTER, BADCONTENT, BADBOARD, REASONCONTENT
  			<if test="badFile != null">
  			, BADFILE, BADF_SIZE, BADF_EN
  			</if>
  		 )
  		VALUES ( seq_comId.nextval, #{badTitle}, sysdate, '신고된자아이디', 
  		 #{reason}, #{reporter}, #{badContent}, #{badBoard}, #{reasonContent}
  		 	<if test="badFile != null">
  			, #{badFile}, #{badF_size}, #{badF_en}
  			</if>
  		 )

  	</insert>
  	
  	<delete id="reportRemove" parameterType="admin">
  	delete from BADCOMMENT where badId = #{badId}
  	</delete>
  
  	 <select id="getTotalReportPage" resultType="admin">
  		SELECT count(badId) as totalRecCount FROM BADCOMMENT
  	</select>
  	
  </mapper>
  	
  	
  	
  	
  	